* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    background-color: #AEA3B0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

h1 {
    font-size: 3rem;
    color: #272640;
    text-align: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 0 5px 0 5px;
    font-size: 4rem;
    color: #2b3131;
    background-color: white;
}

.box:hover {
    background-color: #e9ecef;
    border: 1px solid black;
}

#result {
    font-size: 3rem;
    color: #272640;
    font-weight: bold;
    margin: 10px;
}

#reset-game {
    width: 20vmin;
    height: 10vmin;
    color: white;
    background-color: #1c1412;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    visibility: hidden;
}